<div id='UserAlco' class="alco-user-container">
    <div class="header-alco-container d-flex justify-content-center align-items-center">
        <span class="header-text-alco">Алкоголь</span>
    </div>
    <i class="bi bi-x close-alco" onclick='CloseUserAlco()'></i>
    <div class="user-status-alco">
        <input type='hidden' id='alcohol' name='alcohol'>
        <div class="row">
            <div class="col-12">
                <div class="alco-item">
                    <div class="circle-alco {% if user.alcohol == 'N' %}active-alco{% endif %}"></div>
                    <span>Не пью</span>
                </div>
            </div>
            <div class="col-12">
                <div class="alco-item">
                    <div class="circle-alco {% if user.alcohol == 'Y' %}active-alco{% endif %}"></div>
                    <span>Пью</span>
                </div>
            </div>
        </div>
        <div class="save-alco-container">
            <button class="save-alco-user btn btn-primary" id='save-button-alcohol'>Сохранить</button>
        </div>
    </div>
</div>