<div id="UserChildren" class="user-change-children-container">
        <div class="user-header-children d-flex justify-content-between align-items-center">
            <span class="header-text-children">Дети</span>
        </div>
        <i class="bi bi-x close-children" onclick="CloseUserChildren()"></i>
        <div class="user-status-children">
            <input type='hidden' id='children' name='children'>
            <div class="answer-item d-flex align-items-center">
                <div class="circle-children {% if user.childrens == 'Y' %}active-circle-children{% endif %}"></div>
                <span>Есть</span>
            </div>
            <div class="answer-item d-flex align-items-center">
                <div class="circle-children {% if user.childrens == 'N' %}active-circle-children{% endif %}"></div>
                <span>Нет</span>
            </div>
        </div>
        <div class="save-status-container">
            <button class="save-answer-user btn btn-primary" id='save-button-child'>Сохранить</button>
        </div>
    </div>