<div id='UserEducation' class="education-user-container" style='{% if user.theme %}background:#282e33; color: #fff;{% endif %}'>
    <div class="header-education-container d-flex justify-content-center align-items-center">
        <span class="header-text-education">Образование</span>
    </div>
    <i class="bi bi-x close-education" onclick='CloseUserEducation()'></i>
    <div class="user-status-education">
        <input type='hidden' id='education' name='education'>
        <div class="row">
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education {% if user.education == 'S' %}active-education{% endif %}"></div>
                    <span>Среднее</span>
                </div>
            </div>
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education {% if user.education == 'V' %}active-education{% endif %}"></div>
                    <span>Высшее</span>
                </div>
            </div>
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education {% if user.education == 'M' %}active-education{% endif %}"></div>
                    <span>Магистр и выше</span>
                </div>
            </div>
        </div>
        <div class="save-education-container">
            <button class="save-education-user btn btn-primary" id='save-button-education'>Сохранить</button>
        </div>
    </div>
</div>