<div id='UserEducation' class="education-user-container">
    <div class="header-education-container d-flex justify-content-center align-items-center">
        <span class="header-text-education">Образование</span>
    </div>
    <i class="bi bi-x close-education" onclick='CloseUserEducation()'></i>
    <div class="user-status-education">
        <input type='hidden' id='education' name='education'>
        <div class="row">
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education"></div>
                    <span>Среднее</span>
                </div>
            </div>
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education active-education"></div>
                    <span>Высшее</span>
                </div>
            </div>
            <div class="col-12">
                <div class="education-item">
                    <div class="circle-education"></div>
                    <span>Магистр и выше</span>
                </div>
            </div>
        </div>
        <div class="save-education-container">
            <button class="save-education-user btn btn-primary" id='save-button-education'>Сохранить</button>
        </div>
    </div>
</div>