<div id='UserFamily' class="family-user-container">
        <div class="header-family-container">
            <span class="header-text-otnoshenie">Отношения</span>
        </div>
        <i class="bi bi-x close-family" onclick='CloseUserFamily()'></i>
        <div class="user-status-family">
            <input type='hidden' id='family' name='family'>
            <div class="row">
                <div class="col-12">
                    <div class="gender-item">
                        <div class="circle-family"></div>
                        <span>Не в отношениях</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="gender-item">
                        <div class="circle-family"></div>
                        <span>В отношениях</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="gender-item">
                        <div class="circle-family"></div>
                        <span>В свободных отношениях</span>
                    </div>
                </div>
            </div>
            <div class="save-family-container">
                <button class="save-family-user btn btn-primary" id='save-button-family'>Сохранить</button>
            </div>
        </div>
    </div>