<div id='UserHeight' class="height-user-container">
    <div class="header-height-user-container d-flex justify-content-center align-items-center">
        <span class="header-text-about text-center">Рост</span>
        <i class="bi bi-x close-user-height position-absolute" onclick="CloseUserHeight()"></i>
    </div>
    <div class="user-height-container d-flex flex-column align-items-center">
        <div class="slider-value-container mb-2">
            <span id="sliderValue" class="fw-bold">175 см</span>
        </div>
        <div class="slider-container">
            <input type="range" class="form-range slider-height" min="100" max="230" value="175" id="userHeightRange" oninput="updateSliderValue()">
        </div>
        <div class="button-save-container-height mt-4">
            <button class="save-user-height btn btn-primary" id='save-button-height'>Сохранить</button>
        </div>
    </div>
</div>
