<div id='UserInterested' class="interested-user-account-container">
        <div class="user-interested-header">
            <span class="header-text-interests">Интересы</span>
            <i class="bi bi-x close-interested" onclick='CloseUserInterested()'></i>
        </div>
        <div class="user-search-container">
            <label for="text">
                Покажи, что тебе нравиться
            </label>
            <div class="input-container-interested">
                <input type="text">
                <i class="bi bi-search search-icon"></i>
            </div>
            <div class="user-actual-search-container">
                <span>Велоспорт</span>
                <span>Саморазвитие</span>
                <span>Музыка</span>
            </div>
        </div>
        <div class="save-user-interesteds-container">
            <button class="save-interested-user">Сохранить</button>
        </div>
    </div>