<div id='UserLanguage' class="user-language-container">
                <div class="modal-header-page">
                    <h5 class="modal-title user-header-lang" id="languageModalLabel">Языки</h5>
                </div>
                <i class="bi bi-x close-language" onclick='CloseUserLanguage()'></i>
                <div class="modal-body-page">
                    <ul class="language-list">
                        <!-- List of languages with circles -->
                        <li class="language-item"><div class="circle-language" data-language="English"></div><label>English</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Spanish"></div><label>Spanish</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Chinese"></div><label>Chinese</label></li>
                        <li class="language-item"><div class="circle-language" data-language="French"></div><label>French</label></li>
                        <li class="language-item"><div class="circle-language" data-language="German"></div><label>German</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Russian"></div><label>Russian</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Japanese"></div><label>Japanese</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Italian"></div><label>Italian</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Portuguese"></div><label>Portuguese</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Arabic"></div><label>Arabic</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Korean"></div><label>Korean</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Hindi"></div><label>Hindi</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Dutch"></div><label>Dutch</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Swedish"></div><label>Swedish</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Greek"></div><label>Greek</label></li>
                        <li class="language-item"><div class="circle-language" data-language="Turkish"></div><label>Turkish</label></li>
                        <!-- Add more languages here -->
                    </ul>
                </div>
                <div class="modal-footer-page">
                    <button type="button" class="btn save-answer-user">Сохранить</button>
                </div>
            </div>