<!-- premium-popup.html -->
<div id="myModal" class="detail-premium-container" style='{% if user.theme %}background:#282e33; color: #fff;{% endif %}'>
    <div class="modal-container">
        <span class="header-text-page d-flex justify-content-center text-center">
            Приемущества Alamio Premium
            <i class="bi bi-x cross-icon" onclick="closeModal()"></i>
        </span>
        <div class="premium-feature">
            <span>Просмотр лайков</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="premium-feature">
            <span>Безлимит лайков</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="premium-feature">
            <span>1 Суперлайк в день</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="premium-feature">
            <span>Отменить свайп влево</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="premium-feature">
            <span>Дополнительные показы</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="premium-feature">
            <span>Без рекламы</span>
            <i class="bi bi-check"></i>
        </div>
        <div class="activate-premium">
            <button class="button-activate-premium" onclick="openpagepremium()">
             Активировать
            </button>
        </div>
    </div>
</div>
