<div id='UserSmoking' class="smoking-user-container" style='{% if user.theme %}background:#282e33; color: #fff;{% endif %}'>
    <div class="header-smoking-container d-flex justify-content-center align-items-center">
        <span class="header-text-smoking">Курение</span>
    </div>
    <i class="bi bi-x close-smoking" onclick='CloseUserSmoking()'></i>
    <div class="user-status-smoking">
        <input type='hidden' id='smoking' name='smoking'>
        <div class="row">
            <div class="col-12">
                <div class="smoking-item">
                    <div class="circle-smoking {% if user.smoking == 'N' %}active-smoking{% endif %}"></div>
                    <span>Не курю</span>
                </div>
            </div>
            <div class="col-12">
                <div class="smoking-item">
                    <div class="circle-smoking {% if user.smoking == 'Y' %}active-smoking{% endif %}"></div>
                    <span>Курю</span>
                </div>
            </div>
        </div>
        <div class="save-smoking-container">
            <button class="save-smoking-user btn btn-primary" id='save-button-smoking'>Сохранить</button>
        </div>
    </div>
</div>
