<div id="UserGenderChoice" class="gender-user-container">
    <div class="header-gender-container d-flex justify-content-center align-items-center position-relative">
    <span class="header-text">Ориентация</span>
    <i class="bi bi-x close-user-genders position-absolute" onclick='CloseUserSelecdGenders()'></i>
</div>
<div class="all-genders-search mt-4">
    <input type='hidden' id='orientation' name='orientation'>
    <div class="gender-item d-flex align-items-center">
        <div class="circle-gender"></div>
        <span>Гетеросексуал</span>
    </div>
    <div class="gender-item d-flex align-items-center">
        
        <div class="circle-gender"></div>
            <span>Гей / Лесбиянка</span>
        </div>
        <div class="gender-item d-flex align-items-center">
            <div class="circle-gender"></div>
            <span>Бисексуал</span>
        </div>
        <div class="gender-item d-flex align-items-center">
            <div class="circle-gender"></div>
                <span>Асексуал</span>
        </div>
        <div class="gender-item d-flex align-items-center">
            <div class="circle-gender"></div>
                <span>Демисексуал</span>
            </div>
        <div class="gender-item d-flex align-items-center">
            <div class="circle-gender"></div>
                <span>Пансексуал</span>
            </div>
        </div>
    <div class="save-gener-container text-center mt-4">
        <button class="save-gender-user btn btn-primary" id='save-button-orientation'>Сохранить</button>
    </div>
</div>