{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение Bootstrap Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Подключение вашего стиля -->
    <link rel="stylesheet" href="{% static 'style/style_email.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap">
</head>
<body {% if user.theme %}style='background: #282E33;'{% endif %}>
    <header class="d-flex justify-content-between align-items-center" {% if user.theme %}style='background: #18191D;'{% endif %}>
        alamio
        
    </header>
    <main class="container" {% if user.theme %}style='background: #282E33;'{% endif %}>
        <h2 class="registration-title">Проверь свою почту</h2>
        <h2 class="code-title">Введите пятизначный код подтверждения из письма, который мы отправили на вашу почту</h2>
        <form id="verification-form" method='post'>
            {% csrf_token %}
            <div class="form-container">        
                <div class="form-group">
                    <input type="text" id="verification-code" class="form-input" name='code' placeholder="Введите код">
                    <small id="code-error" class="text-danger d-none">Пожалуйста, введите код.</small>
                </div>
                <div class="form-buttons">
                    <button class="laod-button btn" type='submit'>Ввести</button>
                    <button class="repeat-button btn" type="button">Отправить повторно</button>
                </div>
            </div>
        </form>    
    </main>
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            var isDarkTheme = false;

            $('#theme-button').click(function() {
                if (isDarkTheme) {
                    $('body').css('background-color', '');
                    $('main').css('background-color', '');
                    $('header').css('background-color', '');
                } else {
                    $('main').css('background-color', '#282E33');
                    $('body').css('background-color', '#282E33');
                    $('header').css('background-color', '#18191D');
                }
                isDarkTheme = !isDarkTheme;
            });

            // Form validation
            $('#verification-form').submit(function(event) {
                var codeInput = $('#verification-code');
                var codeError = $('#code-error');
                var isValid = true;

                if (codeInput.val().trim() === '') {
                    codeError.removeClass('d-none');
                    isValid = false;
                } else {
                    codeError.addClass('d-none');
                }

                if (!isValid) {
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
