<div id='UserWork' class="modal work-user-account-container">
    <div class="header-work-user-container">
        <span class="header-text-work">Робота</span>
        <i class="bi bi-x cross-icon" onclick="CloseUserWork()"></i>
    </div>
    <div class="user-work-container">
        <label for="text">
          Напиши, кем ты работаешь
        </label>
        <div class="load-user-work-container">
            <textarea id='work' class="input-container-work">{{ user.work }}</textarea>
        </div>
        <div class="button-save-container">
            <button class="save-user-work" id='save-button-work'>Сохранить</button>
        </div>
    </div>
  </div>