/* Основной контейнер для конфиденциальности */
.confidentiality-user-account-container {
    color: #5C61A9;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 650px;
    height: 25vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: fixed;
    overflow: hidden; /* Обеспечивает прокрутку содержимого при необходимости */
    padding-top: 0;
}

/* Заголовок конфиденциальности */
.confidentiality-user-account-header {
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    color: #5C61A9;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.close-conf {
    font-size: 35px; /* Уменьшен размер иконки */
    cursor: pointer;
    position: absolute;
    right: 5px; /* Увеличен отступ справа */
    top: 0px;   /* Увеличен отступ сверху */
}

/* Контейнер для настроек конфиденциальности */
.confidentiality-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Стили для переключателей */
.form-check {
    display: flex;
    flex-wrap: wrap; /* Позволяет тексту переноситься на новую строку */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.form-check-label {
    font-size: 0.875rem; /* Уменьшенный размер шрифта */
    flex: 1; /* Позволяет метке занимать доступное пространство */
    margin-right: 1rem; /* Отступ справа от переключателя */
    word-break: break-word; /* Перенос длинных слов */
    font-weight: 700;
}

.form-check-input {
    border-radius: 1.25rem;
    width: 2rem; /* Уменьшенная ширина переключателя */
    height: 1.25rem; /* Уменьшенная высота переключателя */
    cursor: pointer;
    appearance: none;
    outline: none;
    background-color: #e9ecef;
    border: 1px solid #adb5bd;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Центрирование кружочка в переключателе */
.form-check-input:before {
    content: "";
    width: 1.15rem;
    height: 1.15rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Центрирование по вертикали */
    left: 0.1rem;
    transform: translateY(-50%); /* Центрирование по вертикали */
    transition: transform 0.3s;
}

.form-check-input:checked {
    background-color: #5C61A9;
    border-color: #5C61A9;
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 97, 169, 0.25);
}

.form-check-input:checked:before {
    transform: translateX(0.65rem) translateY(-50%); /* Центрирование по вертикали */
}
