/* Основной стиль для контейнера модального окна */
.user-change-gender-container {
    color: #5C61A9;
    background: #FFFFFF;
    padding: 20px; /* Padding вокруг контента */
    border-radius: 32px; /* Радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для модального окна */
    width: 90%;
    max-width: 650px;
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование по обеим осям */
    display: none; /* Измените на `block`, чтобы окно отображалось */
    z-index: 1100;
    overflow: hidden;
}

/* Стиль для крестика закрытия модального окна */
.close-genders {
    font-size: 45px; /* Размер крестика */
    color: #5C61A9; /* Цвет крестика */
    position: absolute; /* Абсолютное позиционирование */
    top: -20px; /* Отступ от верхней границы модального окна */
    right: -15px; /* Отступ от правой границы модального окна */
    cursor: pointer; /* Курсор в виде руки при наведении */
}

/* Стиль для заголовка модального окна */
.header-genders-page {
    text-align: center; /* Центрирование текста заголовка */
    margin-bottom: 20px; /* Отступ снизу для разделения с остальным контентом */
    position: relative; /* Относительное позиционирование для корректного отображения крестика */
}

/* Стиль для текста заголовка */
.header-genders-page span {
    font-size: 1.5rem; /* Размер шрифта заголовка */
    font-weight: bold; /* Полужирный текст */
}

/* Стиль для контейнера с выбранными гендерами */
.selected-genders-container {
    padding-top: 20px; /* Уменьшен отступ сверху */
}

/* Стиль для каждой строки с текстом и иконкой */
.selected-genders-container .d-flex {
    padding: 5px 0; /* Padding сверху и снизу каждой строки */
    align-items: center; /* Выравнивание элементов по центру */
}

/* Выравнивание текста и иконок в строках */
.selected-genders-container span {
    font-size: 1rem; /* Размер шрифта текста */
    margin-right: 10px; /* Отступ справа от текста */
}

.selected-genders-container i {
    font-size: 1.5rem; /* Размер иконок */
    color: #5C61A9; /* Цвет иконок */
}
