body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF; /* Цвет фона всей страницы */
}

header {
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    color: transparent; /* Текст невидим, пока не применен фон */
    padding: 0 1rem;
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    background-color: white; /* Белый фон заголовка */
    z-index: 1000;
}

header::before {
    content: 'alamio'; /* Или другой текст, который вы хотите отобразить */
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    color: transparent;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100px;
    line-height: 100px;
}

main {
    padding-top: 150px; /* Отступ для корректного отображения под фиксированным заголовком */
}

.registration-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 47px;
    line-height: 52.41px;
    text-align: center;
    color: #5C61A9;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #5C61A9;
    margin-bottom: 8px;
    text-align: left;
}

.form-input {
    padding: 15px;
    border: 2px solid #8E76F2;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: #9B9B9B;
}

.submit-button {
    background: #5C61A9;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: background 0.3s;
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
}

.submit-button:hover {
    background: #4a4d7c;
}

.language-button {
    background: white;
    border: 2px solid #5C61A9;
    color: black;
    font-size: 15px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 28px;
    outline: none;
    transition: background 0.3s, color 0.3s;
}

.language-button:hover {
    background: black;
    color: white;
}


@media (max-width: 320px) {
    .registration-title {
        font-size: 40px;
    }
}