body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF; /* Цвет фона всей страницы */
}

header {
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    height: 100px;
    color: transparent; /* Текст невидим, пока не применен фон */
    text-align: left;
    padding: 0 1rem;
    padding-left: 20px; /* Уменьшен отступ для мобильных устройств */
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    box-sizing: border-box;
    background-color: white; /* Белый фон заголовка */
    display: flex; /* Включает Flexbox */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: space-between; /* Распределяет элементы по краям */
}

header::before {
    content: 'alamio'; /* Или другой текст, который вы хотите отобразить */
    font-size: 40px; /* Размер шрифта уменьшен для мобильных устройств */
    font-family: 'Comfortaa', sans-serif;
    color: transparent;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 20px; /* Уменьшен отступ для мобильных устройств */
    top: 0;
    height: 100px;
    line-height: 100px;
}

.lang-or-theme {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Вертикальное выравнивание */
    margin-left: auto; /* Перемещает контейнер вправо */
    padding-right: 20px; /* Уменьшен отступ для мобильных устройств */
}

.theme-button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    font-size: 40px; /* Размер шрифта уменьшен для мобильных устройств */
    cursor: pointer; /* Курсор указывает на кнопку */
    transition: color 0.3s; /* Плавный переход для изменения цвета */
    outline: none; /* Убираем обводку при фокусе */
    margin-left: 5px;
}

.theme-button:focus {
    outline: none;
}

.registration-title {
    padding-top: 120px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 35px;
    line-height: 52.41px;
    text-align: center;
    color: #5C61A9;
    max-width: 800px; /* Максимальная ширина заголовка */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.code-title {
    padding-top: 20px;
    color: #5C61A9;
    font-size: 14px;
    text-align: center;
}

.form-group {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 700px; /* Увеличена максимальная ширина группы полей ввода */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.square-one, .square-two, .square-three {
    position: relative; /* Для абсолютного позиционирования круга */
    color: #5C61A9;
    height: 100px; /* Высота квадрата увеличена */
    background-color: white; /* Цвет фона квадрата */
    border: 2px solid #8E76F2;
    border-radius: 20px;
    width: 90%; /* Ширина квадрата */
    box-sizing: border-box; /* Учитывает границы и отступы в ширину элемента */
    margin-bottom: 20px; /* Отступ снизу */
    padding-right: 50px; /* Добавлен отступ справа для размещения кружка */
}

.text-one, .text-two {
    margin: 0; /* Убираем стандартные отступы */
    padding-left: 20px; /* Отступ слева для смещения текста вправо */
}

.text-one {
    font-size: 16px; /* Размер шрифта */
    padding-top: 10px; /* Отступ сверху */
    font-weight: bold; /* Жирный текст */
}

.text-two {
    font-size: 14px; /* Размер шрифта */
    padding-top: 0; /* Отступ сверху */
    margin-top: 14px; /* Отрицательный отступ сверху */
}

.circle-true, .circle-false {
    position: absolute;
    top: 15px;
    right: 15px; /* Расположение кружка на внутреннем правом краю квадрата */
    font-size: 30px;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.circle-false {
    color: #8E76F2;
}

.next-page {
    background: #5C61A9; /* Фон кнопки */
    color: white; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    padding: 15px 100px; /* Размеры кнопки */
    border: none; /* Убирает стандартные границы */
    border-radius: 28px; /* Закругление углов */
    cursor: pointer; /* Курсор указывает на кнопку */
    transition: background 0.3s; /* Плавный переход для эффектов */
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    display: block; /* Устанавливаем кнопку как блочный элемент */
    margin: 10px auto; /* Выровнять по центру с меньшим отступом сверху */
    width: 90%; /* Ширина кнопки по содержимому */
}

.next-page:focus {
    border-color: #8E76F2; /* Цвет обводки при фокусе */
    outline: none; /* Убирает стандартную обводку при фокусе */
}

/* Темная тема */
.dark-theme {
    background-color: #282E33; /* Цвет фона для body и main */
    color: #E2E4FF; /* Цвет текста для темной темы */
}

.dark-theme header {
    background-color: #18191D; /* Фон заголовка для темной темы */
}

.dark-theme .square-one, .dark-theme .square-two, .dark-theme .square-three {
    background-color: #18191D; /* Темный фон для квадратов */
    border-color: #555; /* Цвет границы для квадратов в темной теме */
}

.theme-button.dark-mode i {
    color: white; /* Белый цвет значка для темной темы */
}
