body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF;
}

header {
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    text-align: left;
    padding: 0 1rem;
    padding-left: 20px; /* Adjusted padding for alamio */
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; /* Ensures header is at the top */
    left: 0;
    z-index: 1000; /* Ensures header is on top of other content */
}

header::before {
    content: 'alamio';
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    color: transparent;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 20px; /* Adjusted position for alamio */
    top: 0;
    height: 100px;
    line-height: 100px;
}

.lang-or-theme {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px; /* Adjusted padding for the theme icon */
}

.theme-button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
}

.theme-button.light-theme i {
    color: #000; /* Цвет иконки для светлой темы */
}

.theme-button.dark-theme i {
    color: #fff; /* Цвет иконки для темной темы */
}

.theme-button:focus {
    outline: none;
}

.registration-title {
    padding-top: 120px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    line-height: 52.41px;
    text-align: center;
    color: #5C61A9;
    max-width: 800px;
    margin: 0 auto;
}

.code-title {
    padding-top: 20px;
    color: #5C61A9;
    font-size: 14px;
    text-align: center;
}

.form-group {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;
}

.square-photo {
    color: #5C61A9;
    height: 270px;
    background-color: white;
    border: 2px solid #8E76F2;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.dowload-icon {
    font-size: 23px;
}

.text-square {
    font-size: 18px;
    text-align: center;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skip-photo {
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    color: white;
    font-size: 18px;
    border: none;
    padding: 13px 125px;
    border-radius: 28px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.add-photo:focus {
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    outline: none;
}

.skip-photo:focus {
    border: 2px solid #8E76F2;
    outline: none;
}

.light-theme .theme-button i {
    color: #000; /* Черный цвет для светлой темы */
}

/* Стили для темной темы */
.dark-theme .theme-button i {
    color: #fff; /* Белый цвет для темной темы */
}
