body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF;
}

header {
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    text-align: left;
    padding: 0 1rem;
    padding-left: 20px; /* Adjusted padding for alamio */
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; /* Ensures header is at the top */
    left: 0;
    z-index: 1000; /* Ensures header is on top of other content */
}

header::before {
    content: 'alamio';
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    color: transparent;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 20px; /* Adjusted position for alamio */
    top: 0;
    height: 100px;
    line-height: 100px;
}

.lang-or-theme {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px; /* Adjusted padding for the theme icon */
}

.theme-button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
}

.theme-button.light-theme i {
    color: #000; /* Цвет иконки для светлой темы */
}

.theme-button.dark-theme i {
    color: #fff; /* Цвет иконки для темной темы */
}

.theme-button:focus {
    outline: none;
    border: none;
}

.registration-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #5C61A9;
    max-width: 800px;
    margin: 0 auto;
}

.code-title {
    color: #5C61A9;
    font-size: 13px;
    text-align: center;
}

.form-group {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;
    border: 2px solid #8E76F2; /* Increased border width to 4px */
    border-radius: 10px; /* Increased border radius for more rounded corners */
    padding: 30px; /* Increased padding inside the border */
    background-color: transparent;
    height: 680px;
}

.form-group label {
    color: #5C61A9;
    font-size: 15px;
}

.input-container {
    position: relative;
    width: 100%;
}

.form-input, .form-input_gender, .form-input_genders, .form-input_interested {
    padding: 8px;
    border: 3px solid #8E76F2; /* Increased border width by 1px */
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: white; /* Set background color to white */
    margin-bottom: 40px;
}

.form-input::placeholder {
    color: #9B9B9B;
}

.form-input:focus {
    border-color: #8E76F2;
    outline: none;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-80%);
    font-size: 17px;
    color: #8E76F2;
}

.input-container-gender, .input-container-interested {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gender-option, .interest-option {
    position: relative;
}

.change-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: #8E76F2;
}

.selected-icon {
    color: #8E76F2;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.next-page {
    background: #5C61A9;
    color: white;
    font-size: 18px;
    padding: 15px 100px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: background 0.3s;
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    display: block;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.next-page:focus {
    border-color: #8E76F2;
    outline: none;
}

main {
    padding-top: 120px; /* Adjusted to account for header height */
}

.input-container-gender .form-control,  .input-container-interested .form-control, .form-group .form-control {
    background-color: transparent;
    border: 2px solid #8E76F2; /* Increased border width by 1px */
}

.form-control.error {
    border-color: red;
}

.input-container.error {
    border: 1px solid red;
    border-radius: 0.25rem; /* For consistency with Bootstrap */
}
