body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF;
}

header {
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    color: transparent;
    padding: 0 1rem;
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    background-color: white;
    z-index: 1000;
}

.logo {
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.lang-or-theme-reg {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.theme-button-reg {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
    margin-right: -20px;
}

main {
    padding-top: 150px;
}

.registration-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 35px;
    line-height: 52.41px;
    text-align: center;
    color: #5C61A9;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #5C61A9;
    margin-bottom: 8px;
    text-align: left;
}

.form-input {
    padding: 15px;
    border: 2px solid #8E76F2;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
}

.form-input::placeholder {
    color: #9B9B9B;
}

.submit-button {
    background: #5C61A9;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
}

.submit-button:hover {
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    outline: none;
    transform: scale(1.05);
}

.form-input:focus {
    outline: none;
    border: 3px solid #8E76F2;
}
