body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E4FF; /* Цвет фона всей страницы */
}

header {
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    width: 100%;
    height: 100px;
    color: transparent; /* Текст невидим, пока не применен фон */
    text-align: left;
    padding: 0 1rem;
    padding-left: 20px; /* Уменьшен отступ для мобильных устройств */
    line-height: 100px;
    box-shadow: 0 2px 4px rgba(5, 0, 8, 0.1);
    box-sizing: border-box;
    background-color: white; /* Белый фон заголовка */
    display: flex; /* Включает Flexbox */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: space-between; /* Распределяет элементы по краям */
}

header::before {
    content: 'alamio'; /* Или другой текст, который вы хотите отобразить */
    font-size: 40px; /* Размер шрифта уменьшен для мобильных устройств */
    font-family: 'Comfortaa', sans-serif;
    color: transparent;
    background: linear-gradient(180deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 20px; /* Уменьшен отступ для мобильных устройств */
    top: 0;
    height: 100px;
    line-height: 100px;
}

main {
    background-color: #E2E4FF; /* Светло-серый фон для основного содержимого */
    padding: 20px; /* Отступы внутри основного содержимого */
    padding-top: 120px; /* Увеличен верхний отступ */
    text-align: center; /* Центровка текста */
}

.lang-or-theme {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Вертикальное выравнивание */
    margin-left: auto; /* Перемещает контейнер вправо */
    padding-right: 20px; /* Уменьшен отступ для мобильных устройств */
}

.theme-button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    font-size: 40px; /* Размер шрифта уменьшен для мобильных устройств */
    cursor: pointer; /* Курсор указывает на кнопку */
    transition: color 0.3s; /* Плавный переход для изменения цвета */
    outline: none; /* Убираем обводку при фокусе */
    margin-left: 5px;
}

.theme-button:focus {
    outline: none;
}

.registration-title {
    padding-top: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    line-height: 52.41px;
    text-align: center;
    color: #5C61A9;
    max-width: 800px; /* Максимальная ширина заголовка */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.code-title {
    padding-top: 20px;
    color: #5C61A9;
    font-size: 14px;
    text-align: center;
}

.form-group {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 680px; /* Максимальная ширина группы полей ввода */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.form-group label {
    color: #5C61A9;
    font-size: 14px;
}

.input-container {
    position: relative; /* Позиционирование для дочерних элементов */
    width: 100%; /* Ширина контейнера по ширине родительского элемента */
}

.form-input {
    padding: 8px; /* Отступ справа для значка */
    border: 2px solid #8E76F2;
    border-radius: 8px;
    font-size: 16px; /* Увеличение размера шрифта для лучшего чтения */
    width: 100%; /* Ширина поля ввода в пределах родительского контейнера */
    box-sizing: border-box; /* Учитывает границы и отступы в ширину элемента */
    margin-bottom: 10px; /* Отступ между полями ввода */
    padding-right: 35px; /* Дополнительный отступ для значка */
}

.form-input::placeholder {
    color: #9B9B9B; /* Цвет текста в placeholder */
}

.form-input:focus {
    border-color: #8E76F2; /* Цвет обводки при фокусе */
    outline: none; /* Убирает стандартную обводку при фокусе */
}

.location-icon {
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    right: 10px; /* Отступ справа от границы поля ввода */
    top: 45%; /* Вертикальное центрирование */
    transform: translateY(-50%); /* Центрирование по вертикали */
    font-size: 17px; /* Размер значка */
    color: #8E76F2; /* Цвет значка */
}

.next-page {
    background: #5C61A9; /* Фон кнопки */
    color: white; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    padding: 15px 100px; /* Размеры кнопки */
    border: none; /* Убирает стандартные границы */
    border-radius: 28px; /* Закругление углов */
    cursor: pointer; /* Курсор указывает на кнопку */
    transition: background 0.3s; /* Плавный переход для эффектов */
    background: linear-gradient(100deg, #8E76F2 13.39%, #A1BDFF 78.57%);
    display: flex; /* Устанавливаем кнопку как блочный элемент */
    margin: 10px auto; /* Выровнять по центру с меньшим отступом сверху */
    justify-content: center;
    align-items: center;
}

.next-page:focus {
    border-color: #8E76F2; /* Цвет обводки при фокусе */
    outline: none; /* Убирает стандартную обводку при фокусе */
}

.suggestions-container {
    position: absolute;
    z-index: 1000; /* Выше других элементов */
    background: white;
    border-radius: 4px;
    width: calc(100% - 20px); /* Ширина с учетом отступов */
    max-height: 200px; /* Максимальная высота */
    overflow-y: auto; /* Вертикальная прокрутка при переполнении */
}

.suggestions-container a {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;
}

.suggestions-container a:hover {
    background: #f5f5f5;
}

#auto-fill-button {
    margin-top: 10px; /* Отступ сверху */
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #8E76F2;
}

#auto-fill-button i {
    font-size: 20px; /* Размер иконки */
}

.page-container {
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для светлой темы */
.light-theme .theme-button i {
    color: #000; /* Черный цвет для светлой темы */
}

/* Стили для темной темы */
.dark-theme .theme-button i {
    color: #fff; /* Белый цвет для темной темы */
}

.form-input.error {
    border: 2px solid red;
}

.form-group .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}
 
